<section class="content-header">
  <h1>Applicants</h1>
</section>
<br/>

<div class="col-xs-12">
  <div class="box box-info">
    <div class="box-header">
      <h3 class="box-title">&nbsp;</h3>
      <div class="box-tools">
        <a class="btn btn-info btn-sm" [routerLink]="['/new-application']">New Applicant</a>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-striped table-hover">

        <thead>
          <tr>
            <th>Candidate Name</th>
            <th>Position</th>
            <th>Contact</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let application of applications'>

            <a [routerLink]="['/applicant-info']" [queryParams]="{id: application.id}">
              <td width="200">{{ application.firstName}}&nbsp;{{application.lastName}}</td>
            </a>

            <td>
              {{ application.position}}
            </td>
            <td>
              {{ application.emailId }}
              <br/> {{ application.phoneNo }}
            </td>

            <td>
              <button class="btn btn-sm btn-info">
                <i class="fa fa-edit"></i>
              </button> &nbsp;
              <button class="btn btn-sm btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>