<section class="content-header">
  <h1>Interviews</h1>
</section>
<br/>

    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">&nbsp;</h3>
          <div class="box-tools">
            <a class="btn btn-info btn-sm" [routerLink]="['/new-interview']">New Interview</a>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Applicant Name</th>
              <th>Schedule At</th>
              <th>Skills</th>
              <th>Interviewer Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>

            <tbody>

            <tr *ngFor='let intv of interviews'>
              <a [routerLink]="['/interview-summary']" [queryParams]="{id: intv.id}">
              <td>
                {{ intv.firstName }}  {{ intv.lastName}}
              </td> </a>
              <td>
                {{ intv.intDateTime}} - {{intv.intTimeZone}}
              </td>
              <td>
                {{ intv.skills}}
              </td>
              <td>
                {{ intv.evaluatorName}}
              </td>
              <td>
                <span *ngIf="intv.status==='PASSED'" class="label bg-green"> {{ intv.status | titlecase }}</span>
                <span *ngIf="intv.status==='FAILED'" class="label bg-red"> {{ intv.status | titlecase }}</span>
                <span *ngIf="intv.status==='CANDIDATE NOT AVAILABLE'" class="label bg-yellow"> {{ intv.status | titlecase }}</span>
                <span *ngIf="intv.status==='RESCHEDULED'" class="label bg-yellow"> {{ intv.status | titlecase }}</span>
                <span *ngIf="intv.status==='SCHEDULED'" class="label bg-orange"> {{ intv.status | titlecase }}</span>
              </td>

              <td>
                <button class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button> &nbsp;
                <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
              </td>

            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
