<section class="content-header">
  <h1>Schedule New Interview</h1>
</section>
<br/>

<section class="content">


  <div class="row">
    <div class="col-lg-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Interview info</h3>
        </div>

        <form class="form-horizontal" id="new_application" (ngSubmit)="onSubmit()">
          <div class="box-body">
            <div class="row">

              <div class="col-md-6">
                <div class="form-group ">
                  <label class="col-sm-4 control-label" for="first_name">
                    Interviewer Name
                    <span class="text-red" title="Mandatory">*</span>
                  </label>
                  <div class="col-sm-8">
                    <input class="form-control" type="text" name="first_name" id="first_name" [(ngModel)]="newApplication.evaluatorName">
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group ">
                  <label class="col-sm-4 control-label" for="email">
                    Email Id
                    <span class="text-red" title="Mandatory">*</span>
                  </label>
                  <div class="col-sm-8">
                    <input class="form-control" type="text" name="email" id="email" [(ngModel)]="newApplication.emailId">
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-6">
                <div class="form-group ">
                  <label class="col-sm-4 control-label" for="scheduledate">
                    Schedule Date
                    <span class="text-red" title="Mandatory">*</span>
                  </label>
                  <div class="col-sm-8">
                    <input class="form-control" type="date" name="scheduledate" id="scheduledate" [(ngModel)]="newApplication.intDateTime">
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group ">
                  <label class="col-sm-4 control-label" for="tz">
                    Timezone
                    <span class="text-red" title="Mandatory">*</span>
                  </label>
                  <div class="col-sm-8">
                    <select name="tz" id="tz" class="form-control" (change)="onTimezoneChange($event)">
                      <option [value]='EST'>EST</option>
                      <option [value]='CST'>CST</option>
                      <option [value]='PST'>PST</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-6">
                <div class="form-group ">
                  <label class="col-sm-4 control-label" for="selectApplicant">
                    Candidate
                    <span class="text-red" title="Mandatory">*</span>
                  </label>
                  <div class="col-sm-8">
                    <select id="selectApplicant" name="selectApplicant" class="form-control" (change)="onApplicantChange($event)">
                      <option [value]=0>Select</option>
                      <option *ngFor="let applicant of applicantDetails" [value]="applicant.id">
                        {{applicant.firstName}} {{applicant.lastName}}
                      </option>
                    </select>

                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group ">
                  <label class="col-sm-4 control-label" for="intType">
                    Interview Type
                    <span class="text-red" title="Mandatory">*</span>
                  </label>
                  <div class="col-sm-8">
                    <select name="intType" id="intType" class="form-control" (change)="onInterviewTypeChange($event)">
                      <option [value]=-1>Select</option>
                      <option [value]=1>L1</option>
                      <option [value]=2>L2</option>
                      <option [value]=3>Client</option>
                      <option [value]=4>HR</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>

              <button style="margin-left:1%" class="btn btn btn-info" type="submit">Submit</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</section>