<div class="wrapper">

    <header>
        <a class="logo"  [routerLink]="['/dashboard']">
          <span class="logo-lg">
              <img class="syntel-logo" src="../assets/img/logo.png" /> 
           </span>
          </a>

          <span style="text-align: center"><b>Interview Tracker</b></span> 
      </header>

      

  <aside class="main-sidebar">
    <section class="sidebar sidebar-nav">
      <ul class="sidebar-menu">
      
        <li class="">
          <a [routerLink]="['/dashboard']">
            <span>Dashboard</span>
          </a>
        </li>
        <li class="">
          <a [routerLink]="['/applications']">
            <span>Applications</span>
          </a>
        </li>
        <li class="">
          <a [routerLink]="['/interviews']">
            <span>Interviews</span>
          </a>
        </li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper" style="min-height: 837px;">
  <router-outlet></router-outlet>
  </div>

</div>