<section class="content-header">
    <h1>Dashboard</h1>
</section>

<br/>

<section class="content">


    <div class="row">
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Last 10 Applications</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Contact</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let application of applications'>
                                    <td>
                                        {{ application.name}}
                                    </td>
                                    <td>
                                        {{ application.position}}
                                    </td>
                                    <td>
                                        {{ application.email }}
                                        <br/> {{ application.phone }}
                                    </td>
                                    <td>{{ application.status }}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="box-footer clearfix">
                    <a class="btn btn-sm btn-info btn-flat pull-left" href="/my_applications/new">New Application</a>
                    <a class="btn btn-sm btn-default btn-flat pull-right" href="/my_applications">View All Applications</a>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Last 10 Interviews</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Scheduled Date</th>
                                    <th>Application</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let intv of interviews'>
                                    <td>
                                        {{ intv.scheduledDate}}
                                    </td>
                                    <td>
                                        {{ intv.name}} - {{ intv.position}}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="box-footer clearfix">
                    <a class="btn btn-sm btn-info btn-flat pull-left" href="/interviews/new">New Interview</a>
                    <a class="btn btn-sm btn-default btn-flat pull-right" href="/interviews">View All Interviews</a>
                </div>

            </div>
        </div>
    </div>
</section>